body {
    font-family: 'Lato',sans-serif;
    padding-top: 70px;
}

* {
    box-sizing: border-box;
}

/* Styling for the nav bar */
.navbar {
    margin-bottom: 5px;
}

.navbar-nav > li {
    line-height: 50px;
    position: relative;
}

.navbar-nav > li > .btn {
    margin: 0px 15px;
}

#companyname {
    font-size: 20px;
    color: white;
    margin-top: 3px;
}

#register, #login {
    font-size: 20px;
    color: white;
}

.btn {
    font-size: medium;
}

/* Styling for the search bar*/
.btn-default {
    margin-top: 10px;
}

.form-control {
    height: 36px;
    margin-top: 10px;
}

.input-group {
    top: 0px;
}

@media (min-width: 767px) {
    .navbar-search-form {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        float: none;
        text-align: center;
        padding: 8px 0;
    }
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: none; /* 3px solid #f1f1f1;*/
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

 /* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
     background-color: #ddd;
     outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.auto-style1 {
    width: 104px;
}

/* Styling for the language switcher dropdown */
.language-switcher {
    width: auto;
    float: right;
    vertical-align: top;
    margin: 15px 10px 5px 0px;
}

/* Styling for buy rent sell buttons */
.button-container {
    margin-bottom: 10px;
}

a.button3 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

a.button3:hover {
     background-color: #4095c6;
}

@media all and (max-width:30em) {
     a.button3 {
        display: block;
        margin: 0.2em auto;
    }
}

/* Button styling for the sign in and register forms */
.button3 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

/* Styling for the results page layout*/
.page-layout {
    display: grid;
    grid-template-columns: min-content 3fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.sidebar {
    display: inline-grid;
    margin-left: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.main-content-block {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 400px;
}


